<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseIPAddress" value="127.0.0.1"></add>
		<add key="DatabasePort" value="3306"></add>
		<add key="DatabaseUser" value="EveryMessageUser"></add>
		<add key="DatabasePassword" value="SicheresKennwort"></add>
		<add key="Database" value="everymessage"></add>
		<add key="PasswordSalt" value="SecretSalt"></add>
	</appSettings>
</configuration>